/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

.cleared {
   width:1px;
}
/* Start Box */
.my-box, .my-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.my-bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Box, Sheet */
.my-sheet {
   background:#FFFFFF;
}
/* end Box, Sheet */

/* begin Header */
.my-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='my-header-png',insertBefore(document.createElement('div'),firstChild).className='my-header-jpeg');
   z-index: 1;
}

.my-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 118px;
   background-image: url('../images/BannerWhiteMeshTop.jpg');
   background-repeat: no-repeat;
   background-position:top left;
}

.my-header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:expression(parentNode.clientWidth - 2 * 3 + 'px');
   left:3px;
   height: 118px;
   background-image: url('../images/BannerWhiteMeshTop.jpg');
   background-repeat: no-repeat;
   background-position: center left;
}
/* end Header */

/* begin Menu */
ul.my-hmenu, ul.my-hmenu ul, ul.my-hmenu li, ul.my-hmenu a {
   zoom:1;
}
.my-hmenu li.my-hmenuhover{
   z-index: 10000;
}
.my-hmenu .my-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.my-hmenu .my-hmenuhoverUL .my-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.my-hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.my-nav
{
   zoom: 1;
   height: 27px;
}

/* end Menu */

/* begin MenuItem */
.my-hmenu a 
{
   display:inline-block;
   color: #000000;
   padding: 0 33px;
   line-height: 27px;
   text-align: center;
}

.my-hmenu a.active 
{
   color: {ActiveTextColor};
}

.my-hmenu a:hover, .my-hmenuhoverA,  .my-hmenuhover a 
{
   color: #000000;
   background-color:#CED2D2;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.my-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'0');
}
ul.my-hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.my-hmenu ul a 
{
   color: #2D431E !important;
   float: left;
}

.my-hmenu ul a:hover, .my-hmenu ul .my-hmenuhover .my-hmenuhoverA 
{
   color: #0B0D0E !important;
   background-position: left bottom;
   border-color: #A4B1B6;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Layout */
.my-content-layout, .my-content-layout-row, .my-layout-cell 
{
   display: block;
   zoom: 1;
}
.my-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block */
.my-block {
   background:#FFFFFF;
}
/* end Box, Block */

/* begin BlockHeader */
.my-blockheader {
   background:#FFFFFF;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.my-blockcontent {
   background:#FFFFFF;
}
.my-blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Button */
.my-button-wrapper{
   zoom: 1;
}
.my-button-wrapper .my-button-l, .my-button-wrapper .my-button-r {
   display: none;
}
.my-button-wrapper .my-button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.my-post {
   background:#FFFFFF;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.my-postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.my-post ul li, .my-post ol ul li
{
   height: 1%;
   padding-left: 12px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.my-post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.my-postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.my-footer-body{
   padding-right: 0;
   zoom:1;
}
.my-footer{
   zoom:1;
   /*background:#99BBE5;*/
   background-image: url('../images/BannerWhiteMeshLow.jpg');
}

.my-footer-text
{
   height: 30px;
}

.my-rss-tag-icon
{
   zoom: 1;
   font-size: 1px;
}

/* end Footer */

/* begin LayoutCell, content */
.my-content {
   width: auto;
}
/* end LayoutCell, content */

form#form-login ul li
{
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

/* Plugin compatilibity. */

/* 150675, googlemap */
div.map img
{
   behavior: none;
   filter: none;
}
